body {
  background-image: url(background.jpg);
}

.no-margin-top {
  margin-top: 0;
}

.small-margin-bottom {
  margin-bottom: 5px;
}

.medium-padding {
  padding: 10px;
}

#map {
  width: 100%;
  height: 500px;
}

.italic {
  font-style: italic;
}

.page-header {
  border-bottom: 0;
  text-align: center;
}

.results-box {
  margin-left: 10px;
}

.highlight-box {
  -webkit-box-shadow: inset 0 0 5px 5px rgba(5,5,5,1);
  -moz-box-shadow: inset 0 0 5px 5px rgba(5,5,5,1);
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: inset 0 0 5px 5px rgba(5,5,5,1);
}
